body {
    /* overflow: hidden; */
}

.layout {
    background-image: url(../images/edited\ lamp.jpg);
    clip-path: polygon(0 0, 25% 15%, 50% 0, 75% 15%, 100% 0, 100% 100%, 0 100%);
}

.overlay {
    height: 300px;
    width: 100%;
    background: linear-gradient(147deg, rgba(16,28,61,0.7) 0%, rgba(40,47,152,0.7) 33%, rgba(217,217,217,0.7) 95%);
}

h1 {
    font-size: 4rem;
}

hr {
    width: 80%;
    border: 1px solid #fff;
}

h2 {
    text-transform: uppercase;
}

.navSection {
    background-image: url(../images/AdobeStock_299978128-2.jpeg);
}

a {
    color: #fff;
}